@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2C2F33;
  }

  .banner {
    text-align: center;
    background-color:rgb(78, 89, 102);
    width: 100%;
    padding: 10px 3px;
    margin: 0;
  }

  #spclmsg {
    color: rgb(78, 89, 102);
    font-size: .9em;
    font-weight: bold;
    text-shadow: 1px 1px rgba(123, 63, 166);
    width: 100%;
    text-align:center;
  }

  .topdiv {
    background-color: #bb3bdb;
    text-align: center;
    padding: 3px;
    width: 100%;
    margin: auto;
  }

  p {
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 1em;
    margin-left:auto;
    margin-right:auto;
    font-size:1vw;
  }

/* NAVIGATION ***************** */

button#ham {
  justify-content: flex-start;
  align-self: center;
  text-align: center;
  border: 1px solid rgb(78, 8, 84);
  border: none;
  border-radius: 4px;
  font-size: 2em;
  color: rgb(92, 10, 99);;
  background-color: transparent;
  max-width: 2.0em;
  height: 44px;
  width: 44px;
  padding: 0 10px 0 0;
}
nav {
  display:flex;
  justify-content:left;
  justify-content:center;
  align-items: center;
  margin: 2vh 0;
  color: #f2f2f2;
  margin:0;
  z-index: 1000;
  position: absolute;
  top: 75px;
 /*width: 200px; */
  width: 100%;
  right: 0;
  text-align: left;
  background-color: rgb(78, 8, 84);
}
nav ul {
display: none;
}
nav ul li a {
display: block;
padding: .8rem 0vw;
text-decoration: none;
color: #f2f2f2;
font-weight: bold;
text-align: center;
text-decoration: none;
cursor: pointer;
font-size: 1rem;
font-family: "merriweather", serif;
letter-spacing: .1em;
}
nav ul li a:link {
color: white;
}
nav ul li a.active  {
  background-color: rgb(121, 13, 130);
  color: white;
}
nav ul li a:hover {
background-color: rgba(0,0,0,.3);
background-color: transparent;
color: white;
  --d: 75%;
}

nav ul.open {
display: block;

}
nav ul.open li {
display: block;

}

nav ul.open li a {
display: block;
padding: 0.75rem;
text-align: center;
text-decoration: none;
color: white;
font-weight: 700;
transition: 0.5s;
font-size: clamp(1rem, 2vmin, 1.5rem);
min-width: 100%;
width: 100%;
max-width: 100%;

}
nav#primaryNav.navigation.open ul li {
width: 100%;
display:block;
}
nav ul.open li a:hover {
  background-color: rgb(92, 10, 99);
  color: white;
  --d: 75%;
  width: 100%;
}
nav ul.open li a:active {
color: rgb(121, 13, 130);
  --d: 75%;
  width: 100%;
}
#ham span:nth-child(1) {display:block}
#ham span:nth-child(2) {display:none}

#ham.open span:nth-child(1) {display:none}
#ham.open span:nth-child(2) {display:block}

  header {
	background-color: rgb(78, 89, 102);
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.heading {
	display:flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0;
  padding: 10px 0;
  align-self:flex-start;
  text-align: left;
  min-width: 128px;
}

.heading h1 {
	justify-content: flex-start;
  text-align:left;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 0;
  color: white;
}

.m {
	letter-spacing: 1pt;
	color: rgb(139, 34, 134);
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  text-align:right;
  margin: 0 0;
}

.social svg {
	width: 25px;
	height: auto;
}

/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 24px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  margin: 1vh 1vw;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #697897;
  color: white;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}

/* ********************** JOIN PAGE ************************** */
.grid-join {
  text-align:center;
  margin:0 auto;
  justify-content: center;
  align-content: center;

}
.grid-join section {
  justify-content:center;
  display:flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border:1px solid rgb(92, 10, 99);
  border-radius: 4px;
  min-width: 100%;
  max-width: 375px;
  margin:0 auto;
  padding: 0px;
}
.grid-join section h2 {
  border-radius: 4px 4px 0 0;
  margin: 0 ;
  padding: 10px;
  font-size: 1.5em;
  background-color: rgb(92, 10, 99);
  color: rgb(230, 228, 228);
}
/* ----------------- FORM STYLING */
form {
  align-self: center;
  text-align: left;
  min-width: 18rem;
  max-width: 90%;
  }
form fieldset {
    margin: 2rem 0;
    border: 2px solid rgb(92, 10, 99);
    border-radius: 10px;
    padding: .5rem 2%;
    min-width: 90%;

}
form legend {
    color: rgb(92, 10, 99);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1em;
    font-weight: bold;
}
form label.top {
    display: block;
    padding-top: 1rem;
    color:  rgb(92, 10, 99);
    font-size: 1rem;
    font-weight: normal;
}
form div {
    display: block;
    padding-top: 1rem;
    color: rgb(92, 10, 99);
    font-size: 1rem;
    font-weight: bolder;
}
.hint{font-size: .7em}
form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    border: 1px solid #999;
    border-radius: 4px;
    color: rgb(92, 10, 99);
    padding: .75rem;
    width: 90%;
    max-width: 90%;
    background-color: rgba(0,0,0, .1);
    background-color:rgba(15, 64, 119,.1)
}
form label.top textarea {
  font-size: 1em;
  font-weight: bold;
  color:rgba(243, 105, 13, 0.6);
  text-shadow:1px 1px black;
}
form label textarea#arcane_skils {
  font-size: .9em;
  font-weight: normal;
  color: #000;
  text-shadow: none;
}
form label textarea#comments {
  font-size: .9em;
  font-weight: normal;
  color: #000;
  text-shadow: none;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: rgb(92, 10, 99);
    font-weight: bold;
}
form label input {
  font-size: .8em
}
p.member-message {
  display:none;
}
form input.submitBtn {
    border:none;
    background-color: rgb(92, 10, 99);
    color: white;
    border-radius: 8px;
    padding: 2rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 98%;
    max-width: 98%;
    font-weight: bold;
    font-size: 1em;
    transition-duration: 0.4s;
}

form input.submitBtn  {
  background-color: rgb(92, 10, 99); /* orange */
  font-weight: bold;
  color: white;

}
form input.submitBtn:hover {
  text-shadow:0 12px 15px rgba(0,0,0,.3);
  color: rgb(139, 34, 134);
}
form label.top input:required {
    border: 1px solid #ce3405;
}

form label.top input:required:valid {
    border: 1px solid green;
}
/* ********************** THANKYOU PAGE ************************** */
grid-ty-bg{
  display:grid;
  grid-template-columns: 1fr;
}

section.grid-ty {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 110px;
  max-width: 500px;
  margin: auto;

}
section.grid-ty  h2 {
  grid-column: 1;
  grid-row: 1;
  height: 80px;
  padding: 20px;
  margin:0;
  font-size: 1.3em;
  justify-content: center;
  background-color: rgb(92, 10, 99);
  color:rgb(230, 228, 228)
}
section.grid-ty  picture img {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  max-width: 500px;
  text-align: center;
  justify-content: center;
}
section.grid-ty  p {
  grid-column: 1;
  grid-row: 3;
  display:block;
  justify-content: center;
  max-width: 500px;
  padding: 5px 20px;
  background-color: white;
}

/* ********************** CONTACTS PAGE ************************** */
main .contacts-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr ;
  text-align:center;
  margin:0 auto;
  justify-content: center;
  align-content: center;

}
 h2.team {
  margin: 0 ;
  padding: 10px 10px;
  font-size: 1.5em;
  background-color: #0f4077;
  color:rgb(230, 228, 228);
  text-align: center;
  font-size: 1.5em;
}
div.general {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  padding: 10px 3px;
}
div.general h3 {
  border-radius: 8px;
  padding: 8px;
  font-size: 1.3em;
  max-width: 200px;
}
div.general h4 {
  border-radius: 8px;
  padding: 2px 8px 2px 5px;
  font-size: 1.3em;
  margin-bottom: 0px;
  color:#CE5505;
}
div.general p {
  padding: 2px 8px 2px 10px;
  font-size: 1.3em;
  margin-top: 0;
}
 .section-contacts {
  grid-column: 1;
  grid-row: 2;
   justify-content:center;
  display:flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 5px;
  border:1px solid #0f4077;
  box-shadow: 0px 15px 15px rgba(0,0,0,.3);
  border-radius: 4px;
  min-width: 100%;
  max-width: 260px;
  margin:0 auto;
  padding: 0px;
  font-size: .9rem;
}
div.contact-form {
  margin: auto;
  padding: 10px;
  min-width: 260px;
}
.section-contacts form fieldset legend h3 {
  padding: 5px 8px;
  border-radius: 8px;
}
p.imp {font-weight: bolder}
.section-contacts form input.submitBtn {
  width: 95%;
  padding: 20px 5px;
  text-align: center;
}
.section-contacts textarea#comments {
   font-size: .8em;
   height: 8em;
}
 div.gmap {
  grid-column: 1;
  grid-row: 3;
  margin: auto;
  padding: 10px;
}
/* ********************** DIRECTORY PAGE ************************** */

/* ******************* DIRECTORY ************ */

.list-view-btn {
  display:flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.list-view-btn img {
  width: 50px;
}
.list-view-btn button {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  border: none;
}
.list-view-btn button img {
  width: 100%;
  border: none;
}
button#listBtn {
  align-self: center;
  padding: 4px 10px 7px 10px;
  margin: 10px;
  font-size: 40px;
  vertical-align: center ;
  border-radius: 4px 4px;
  border:1px solid rgb(15, 80, 138);
}

button#cardBtn {
  align-self: center;
  padding: 4px 15px 7px 15px;
  margin: 10px;
  font-size: 40px;
  vertical-align: center ;
  border-radius: 4px 4px;
  border:1px solid rgb(15, 80, 138);
}
button#listBtn:hover {
  border: 1px solid rgb(243, 114, 8);
  background-color:rgb(137, 221, 247);
}
button#listBtn:focus {
background-color:rgb(137, 221, 247);
}
button#cardBtn:hover {
   border: 1px solid rgb(243, 114, 8);
  background-color:rgb(137, 221, 247);
}
button#cardBtn focus {
background-color:rgb(137, 221, 247);
}
button#cardBtn .cards .card-view {
  background-color:rgb(137, 221, 247);
}
main.directory {
  display:block;
  display:flex;
  flex-direction: column;
  margin:2%;
}
.directory h2 {
  background-color:#0f4077;
   padding: 10px;
   color: aliceblue;
   font-size:1.5em;
   text-align:center;
   margin:auto}

.directory {
  text-align: center;
}

.list-view img, card-view section h2 {
  display:none;
}

.list-view section {
  display:grid;
  grid-template-columns: 1fr;
  border-radius: 15px;
  border: 2px solid white;
  padding: 0 0 15px 0;
  border-radius: 0;
  margin: .5vw 2%;
  font-size: .9em;
}
.list-view section h2{
  grid-column:1;
  margin: 0;
  padding: 10px 10px;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  color:rgb(10, 52, 88);
}
.card-view section h2 {
  grid-column:1;
  margin: -10px -10px 10px -10px;
  padding: 10px ;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #0f4077;
  color:aliceblue;
}
.list-view p {
  justify-items: left;
}
.list-view  a {
  color:rgb(10, 52, 88);
  
}
.list-view a:visited {
  color:rgb(243, 114, 8);
  
}
.list-view p2 {
  display: block;
  text-align:left;

}
.card-view section {
  display:grid;
  grid-template-columns: 1fr;
}

.card-view img {
  display:block;
  width: 100px;
  margin:10px auto;
  padding: 5px;
  border-radius: 100%;
  border-style: groove;
  border:3px rgb(21, 81, 85) solid;
  background-color:rgba(137, 221, 247, .3);
  transition: transform 0.2s ease-in-out;
}

.card-view {
  display:grid;
  grid-template-columns: 1fr;
}

.card-view section {
  padding: 4%;
  margin: 2%;
  border-radius: 0;
  border: 3px solid rgba(10, 52, 88, .8);
  box-shadow:2px 8px 8px rgba(10, 52, 88, .4);
  background-color: aliceblue;
}

.list-view section p1,.list-view section p2, .list-view section p4, .list-view section p5, .list-view section mem {
  display:block;
  margin-left:5px;
  margin-right: 2%;
  margin-top: 0;
  margin-bottom: 0;
  text-align:left;
  color: #000;
  padding: 5px 5px;
}
.list-view section:nth-child(even){
   background-color:rgba(137, 221, 247, .8);
}
.list-view section:nth-child(odd){
   background-color: aliceblue;
}

/* .list-view section p1,p2,p3 {
  margin-left:0;
  margin-right: 0;
  font-size: 1em;
  text-align:left;
  color: #000;
} */

.card-view section p1, p4, p5, mem {
  display: block;
  align-content: center;
  margin-left:auto;
  margin-right: auto;
  padding: 5px;
  font-size: 1em;
  text-align:center;
  color: #000;
}

.list-view section p2{
   display: block;
}

.card-view section p2{
   display: block;
   text-align: left;
   margin: auto;
   padding: 5px 20px;
}

.card-view section p3{
   display: none;
}

.list-view section p3{
   display: none;
}

.activeBtn {
  background-color:rgba(137, 221, 247, .8);
}